<!doctype html>
<html lang="fr">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Transcendence</title>
    <link rel="stylesheet" href="/dist/output.css" />
  </head>

  <body>
    <header>
		<div class="flex flex-col">
			<div class="fixed flex justify-center w-full bg-black">
				<h1 class="m-4 font-mono text-4xl font-medium text-violet-950">Transcendence</h1>
			</div>
			<div class="flex justify-center mb-72 mt-72 bg-amber-50">
				<div class="flex flex-col items-center">
					<p class="font-semibold text-amber-500">Pong</p>
					<canvas class="bg-amber-400 w-[800px] h-[800px]"></canvas>
				</div>
			</div>
			<footer class="flex justify-center w-full bg-blue-600">
				<p class="m-4 font-mono text-4xl font-medium text-violet-950">Insert credits</p>
			</footer>
		</div>
    </header>
  </body>
</html>
