<!-- A rebouger dans le front -->

<!DOCTYPE html>
<html lang="fr">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>Transcendence</title>
		<script type="module" src="/dist/frontend.js"></script>
		<link rel="stylesheet" href="/dist/output.css" />
	</head>

	<body>
		<header>
			<div class="flex flex-col">
				<div class="fixed flex justify-center w-full bg-black">
					<h1 class="m-4 font-mono text-4xl font-medium text-violet-950">
						Transcendence
					</h1>
				</div>

				
				<div class="flex justify-center mb-72 mt-72 bg-amber-50">
					
					<!-- Box Live chat left -->
					<div class="flex flex-col items-center" style="margin-right: 100px; margin-top: 100px;">

						<!-- Text top box -->
						<div style="margin-bottom: 10px; font-weight: bold; font-size: 26px;">Live chat</div>

						<!-- main rectangle -->
						<div style="width: 500px; height: 650px; background-color: rgba(11, 11, 11, 0.363);">

							<!-- Live chat elements -->
							<!-- Wrapper pour l'historique des messages -->
							<div id="messageHistory" style="height: 80%; overflow-y: auto; background-color: #201f1f9c; color: white; padding: 10px; margin-bottom: 20px; border-radius: 8px;">
								<!-- Historique des messages -->
								<div>Message 1: message 1</div>
								<div>Message 2: message 2</div>
								<!-- Ajouter d'autres messages ici -->
							</div>

							<!-- Zone pour envoyer un message -->
							<div style="display: flex; justify-content: space-between;">
								<input type="text" id="messageInput" placeholder="Type your message..." style="margin-left: 10px; width: 80%; padding: 8px; border-radius: 5px;">
								<button id="sendButton" style="margin-right: 10px; width: 15%; padding: 8px; border-radius: 5px; background-color: #3498db; color: white; border: none;">Send</button>
							</div>

						</div>

						<!-- Text bottom box -->
						<div style="margin-top: 10px; font-weight: bold; font-size: 20px;">/invite /join /block /profile</div>

					</div>

					<!-- Pong elements center -->
					<div class="flex flex-col items-center">

						<p class="h-16 mt-2 text-5xl font-semibold text-stone-950">Pong</p>
						<canvas id="game" class="bg-black w-[800px] h-[800px]"></canvas>
							
						<button id="onOffButton" class="mt-2 mb-2 font-medium">Play Offline</button>
						<button id="Launch" class="mt-2 mb-2 font-medium">Launch game</button>
						<p
							id="LaunchError"
							class="h-0 font-bold text-red-500 transition-opacity duration-500 opacity-0"
						>
							Game is already Running
						</p>
						<form id="form" class="mt-5" method="post" action="http://localhost:4500/register">
							<label for="username">User name:</label>
							<br />
							<input id="username" type="text" name="username" class="border-2 border-solid" />
							<br />
							<button type="submit" class="">Valider</button>
						</form>
	
					</div>
				</div>
				<form id="signup-form" class="flex flex-col items-center">
					<p class="font-semibold mb-4">Creer un compte :</p>
					<input id="PseudoIncription" type="text" placeholder="Pseudo" required class="border-2 border-solid mb-2"/>
					<input id="EmailIncription" type="email" placeholder="Email" required class="border-2 border-solid mb-2"/>
					<input id="PasswordIncription" type="password" placeholder="Password" required class="border-2 border-solid mb-2"/>
					<button type="submit" class="bg-amber-50 mb-2">S'inscrire</button>
				</form>
				<form id="signin-form" class="flex flex-col items-center">
					<p class="font-semibold mb-4">Deja un compte ? Se connecter :</p>
					<input id="EmailConnexion" type="email" placeholder="Email" required class="border-2 border-solid"/>
					<input id="PasswordConnexion" type="password" placeholder="Password" required class="border-2 border-solid"/>
					<button type="submit" class="bg-amber-50 mb-2">Se connecter</button>
				</form>
				<footer class="flex justify-center w-full bg-blue-600">
					<p class="m-4 font-mono text-4xl font-medium text-violet-950">Insert credits</p>
				</footer>
			</div>
		</header>
	</body>
</html>
