<!DOCTYPE html>
<html lang="fr">
    <head>
        <script src="https://cdn.tailwindcss.com"></script>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Transcendence</title>
        <script type="module" src="/dist/frontend.js"></script>
        <link rel="stylesheet" href="/dist/output.css" />

		<style>
			
		</style>
    </head>

    <body class="bg-gradient-to-b from-gray-900 via-blue-900 to-gray-900">
        <div class="flex flex-col">
            <div class="fixed flex justify-center w-full bg-black shadow-xl">
                <h1 class="m-4 font-mono text-4xl font-medium text-blue-400 shadow-sm">
                    Transcendence
                </h1>
            </div>
			<!-- header presentation transcendence -->
			<div>
				<img src="/dist/ressources/img/Transcendence.png" alt="Transcendence img" class="w-full h-screen shadow-xl">
			</div>
            <div class="flex flex-col justify-center mt-20 mb-10 2xl:flex-row 2xl:mt-72">
                <!-- Box Live chat left -->
                <div class="flex flex-col items-center mt-20 mb-10 2xl:mr-20">
                    <!-- Text top box -->
                    <div class="text-blue-400 mb-2.5 font-bold text-2xl">Live chat</div>

                    <!-- Main rectangle -->
                    <div class="w-[500px] h-[650px] bg-gradient-to-b from-[#222222] to-[#111111] border-4 border-[#4b92d3] rounded-xl shadow-lg">
                        <!-- Live chat elements -->
                        <!-- Wrapper pour l'historique des messages -->
                        <div id="messageHistory" class="h-[80%] overflow-y-auto text-white p-2.5 mb-5 rounded-lg">
                            <div>Welcome : Hi, send your messages here :))</div>
                        </div>

                        <!-- Zone pour envoyer un message -->
                        <div class="flex items-center justify-between">
                            <input type="text" id="messageInput" placeholder="Type your message..." class="border-2 border-gray-500 bg-gray-800 bg-opacity-50 text-gray-200 rounded-lg p-2 ml-2.5 w-4/5 h-12">
                            <button id="sendButton" class="px-4 text-gray-900 transition-all duration-200 bg-blue-400 rounded-lg hover:bg-blue-500 mr-2.5 w-1/5 h-12 text-base font-medium">
                                Send
                            </button>
                        </div>
                    </div>

                    <!-- Text bottom box -->
                    <div class="text-blue-400 mt-2.5 font-bold text-xl">/profile /join</div>
                </div>

                <!-- Box Pong right -->
                <div class="flex flex-col items-center">
                    <p class="h-16 mt-2 text-5xl font-semibold text-blue-400">Pong</p>
                    <canvas id="game" class="bg-black w-[800px] h-[800px] border-4 border-[#4b92d3] rounded-xl shadow-lg"></canvas>
                    <p class="mt-5 text-blue-400">Next Match:</p>
                    <p id="nextMatch" class="text-blue-400">???</p>
                    <button id="onOffButton" class="px-4 py-2 mt-4 mb-2 text-sm text-blue-400 transition-all duration-200 bg-gray-900 rounded-lg hover:bg-gray-700 hover:scale-105">Play Offline</button>
                    <button id="Launch" class="px-4 py-2 mt-2 mb-2 text-sm text-blue-400 transition-all duration-200 bg-gray-900 rounded-lg hover:bg-gray-700 hover:scale-105">
                        Launch game
                    </button>
                    <button id="RegisterTournament" class="px-4 py-2 mt-2 mb-2 text-sm text-blue-400 transition-all duration-200 bg-gray-900 rounded-lg hover:bg-gray-700 hover:scale-105">
                        Register to tournament
                    </button>
                    <button id="LaunchTournament" class="px-4 py-2 mt-2 mb-2 text-sm text-blue-400 transition-all duration-200 bg-gray-900 rounded-lg hover:bg-gray-700 hover:scale-105">
                        Launch tournament
                    </button>
                    <p id="LaunchError" class="h-0 font-bold text-red-500 transition-opacity duration-500 opacity-0">
                        Game is already Running
                    </p>
                    </div>
                </div>

                <!-- Les deux formulaires de connexion -->

                <div id="Forms-connexion" class="flex flex-col items-center justify-center w-full min-h-screen space-y-10" style="display: flex;">
                    <form id="signup-form" class="flex flex-col items-center p-8 w-[500px] bg-gray-900 rounded-lg shadow-lg">
                        <p class="mb-6 text-2xl font-semibold text-blue-400">Create an account :</p>
                        <input id="PseudoIncription" type="text" placeholder="Pseudo" required class="border-2 border-gray-500 bg-gray-800 bg-opacity-50 text-gray-200 rounded-lg p-2 mt-1.5"/>
                        <input id="EmailIncription" type="email" placeholder="Email" required class="border-2 border-gray-500 bg-gray-800 bg-opacity-50 text-gray-200 rounded-lg p-2 mt-1.5"/>
                        <input id="PasswordIncription" type="password" placeholder="Password" required class="border-2 border-gray-500 bg-gray-800 bg-opacity-50 text-gray-200 rounded-lg p-2 mt-1.5 mb-1.5"/>
                        <button type="submit" class="w-full p-3 text-white transition duration-200 bg-blue-600 rounded-lg hover:bg-blue-700 focus:ring-2 focus:ring-blue-500 focus:ring-offset-2">Sign up</button>
                    </form>

                    <form id="signin-form" class="flex flex-col items-center p-8 w-[500px] bg-gray-900 rounded-lg shadow-lg">
                        <p class="mb-6 text-2xl font-semibold text-blue-400">Already have an account ? Log in :</p>
                        <input id="EmailConnexion" type="email" placeholder="Email" required class="border-2 border-gray-500 bg-gray-800 bg-opacity-50 text-gray-200 rounded-lg p-2 mt-1.5"/>
                        <input id="PasswordConnexion" type="password" placeholder="Password" required class="border-2 border-gray-500 bg-gray-800 bg-opacity-50 text-gray-200 rounded-lg p-2 mt-1.5 mb-1.5"/>
                        <button type="submit" class="w-full p-3 text-white transition duration-200 bg-blue-600 rounded-lg hover:bg-blue-700 focus:ring-2 focus:ring-blue-500 focus:ring-offset-2">Sign in</button>
                    </form>
                </div>

                <!-- fin des formulaires de connextion -->

                <div id="user-profile" class="max-w-xs p-4 mx-auto mb-20 bg-gray-900 rounded-lg shadow-md" style="display: none;">
                    <p id="greeting" class="mb-4 text-lg font-semibold text-center text-blue-400"></p>
                    <img id="user-avatar" src="https://emedia1.nhs.wales/HEIW2/cache/file/F4C33EF0-69EE-4445-94018B01ADCF6FD4.png" alt="Avatar de l'utilisateur" class="object-cover w-20 h-20 mx-auto mb-4 transition duration-200 border-2 border-gray-200 rounded-full cursor-pointer hover:brightness-75">
                    <input type="file" id="avatar-upload">
                    <div class="space-y-2">
                        <p id="email-line" class="text-sm text-blue-400"><strong>Email:</strong> <span id="user-email" class="font-medium text-blue-400"></span></p>
                        <p id="victories-line" class="text-sm text-blue-400"><strong>Victories:</strong> <span id="user-victories" class="font-medium text-green-600"></span></p>
                        <p id="defeats-line" class="text-sm text-blue-400"><strong>Defeats:</strong> <span id="user-defeats" class="font-medium text-red-600"></span></p>

                        <button id="logout" class="w-full py-2 mt-4 text-white bg-blue-500 rounded-lg hover:bg-blue-600 focus:outline-none focus:ring-2 focus:ring-blue-400">Log out</button>

                        <!-- Profile interaction buttons -->
                        <button id="profile_close" class="w-full py-2 mt-4 text-white bg-blue-500 rounded-lg hover:bg-blue-600 focus:outline-none focus:ring-2 focus:ring-blue-400">Close profile</button>
                        <button id="profile_invite" class="w-full py-2 mt-4 text-white bg-blue-500 rounded-lg hover:bg-blue-600 focus:outline-none focus:ring-2 focus:ring-blue-400">Invite</button>
                        <button id="profile_block" class="w-full py-2 mt-4 text-white bg-blue-500 rounded-lg hover:bg-blue-600 focus:outline-none focus:ring-2 focus:ring-blue-400">Block</button>
                        <button id="profile_unblock" class="w-full py-2 mt-4 text-white bg-blue-500 rounded-lg hover:bg-blue-600 focus:outline-none focus:ring-2 focus:ring-blue-400">Unblock</button>
                    </div>
                </div>
                <footer class="w-full py-10 mt-20 border-t border-blue-400 bg-gray-950">
					<div class="flex flex-col items-center space-y-6 font-mono text-blue-400">
						<h2 class="text-3xl font-semibold">Meet the Team</h2>
						<div class="grid grid-cols-1 gap-6 text-center gap-x-44 md:grid-cols-2">
							<div>
								<p class="text-xl font-bold">achaisne</p>
								<p><a href="https://github.com/usercrixus" class="text-blue-300 transition hover:underline hover:text-blue-500">https://github.com/usercrixus</a></p>
							</div>
							<div>
								<p class="text-xl font-bold">gmorel</p>
								<p><a href="https://github.com/GaetanMo" class="text-blue-300 transition hover:underline hover:text-blue-500">https://github.com/GaetanMo</a></p>
							</div>
							<div>
								<p class="text-xl font-bold">ajosse</p>
								<p><a href="https://github.com/Twatwane" class="text-blue-300 transition hover:underline hover:text-blue-500">https://github.com/Twatwane</a></p>
							</div>
							<div>
								<p class="text-xl font-bold">lperthui</p>
								<p><a href="https://github.com/LilianPe" class="text-blue-300 transition hover:underline hover:text-blue-500">https://github.com/LilianPe</a></p>
							</div>
						</div>
						<p class="mt-6 text-sm text-gray-500">&copy; 2025 Transcendence Project. All rights reserved.</p>
					</div>
				</footer>
            </div>
        </header>
        <script>
            const trail = [];
            const maxTrail = 20; // nombre de points dans la traînée

            document.addEventListener('mousemove', (e) => {
                const dot = document.createElement('div');
                dot.className = 'trail-dot';
                dot.style.left = `${e.clientX}px`;
                dot.style.top = `${e.clientY}px`;
                document.body.appendChild(dot);
                trail.push(dot);

                if (trail.length > maxTrail) {
                    const oldDot = trail.shift();
                    oldDot.remove();
                }
            });
        </script>
    </body>
</html>
